/* header */
.header{
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: #2B2728;
    height: 70px;
}
.block_header{
    width: 70vw;
    margin: 0 auto;
    display: flex;
}
.logo{
    font-family: Berkshire Swash;
    color: #FFF;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.header_meny{
    font-family: Berlin Sans FB Demi;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    color: #B7BAB9;
    left: 5,98%;
}
.meny_url{
    display: flex;
    width: 70vw;
}
.header_element{
    width: 20%;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}
.header_element:first-child{
    margin-left: 0;
}
/* main */
.main{
    margin-top: 70px;
}
.block_programer{
    height: 1000px;
}
.img_programer{
    width: 100%;
    z-index: -1;
}
.block_presentetion{
    /* border: 1px solid black; */
    width: 60vw;
    position: absolute;
}
.text_programmer{
    color: white;
    text-align: center;
    font-family: You2013;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 100px;
}